

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}


.body{
    background-color: black;
    color: white;
}


.left{
    width: 25vw;
    padding: 10px;
}
.right{
    width: 75vw;
}

.home ul li{
    
    width: 15px;
    list-style: none;
    display: flex;
    gap: 3px;
    padding-top: 13px;
    font-weight: bold;
}

.heading img{

width: 14px;


}
.heading{

display: flex;
align-items: center;

}

.heading span {
    font-size: 15px;
     width: 100%;
}
.footer{

display: flex;

font-size: 10px;

gap: 13px;

}
.library{
    position: relative;
    min-height: 80vh;
}
.footer{
    position: absolute;
    bottom: 0;
}
.footer a{
    color: gray;
    width: 4px;
}
.nav img{
    width: 15px;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(34,34,34);
}
.header > *{

padding: 20px;
}

.spotifyplaylists{

    padding: 16px;
}

.cardcontainer{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 30px;
}

 .card{

width: 200px;
padding: 10px;
border-radius: 5px;
background-color: #252525

}
.spotifyplaylists .card img{
    object-fit: contain;
    width: 100%;
}

.card > *{
    padding-top: 10px;
}